@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&family=Source+Sans+3:wght@300;400;600&display=swap');

@import "tailwindcss";

body {
  font-family: 'Source Sans 3', sans-serif;
  background-color: #F9F8F6;
  color: #1a1a2e;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Sans', sans-serif;
}
